body {
    background-color: #FEFAE0;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
}
p {
    font-family:Arial, Helvetica, sans-serif;
}
.skill1 {
    font-size: 23px;
}
.skill2 {
    font-size: 22px;
}
.skill3 {
    font-size: 21px;
}
.skill4 {
    font-size: 20px;
}
.skill5 {
    font-size: 19px;
}
.skill6 {
    font-size: 18px;
}
.skill7 {
    font-size: 17px;
}
.skill8 {
    font-size: 16px;
}
.skill9 {
    font-size: 15px;
}
.cidade {
    color:blueviolet;
}